<div class="footer">
    <div class="container">

        <div class="bio">
            <div class="card-group">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Location</h5>
                        <p class="card-text">1307 Old Chain Bridge Rd, McLean, VA 22101</p>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Hours</h5>
                        <p class="card-text">Mon - Thurs: 11:30am - 10pm</p>
                        <p class="card-text">Fri: 11:30am - 10:30pm</p>
                        <p class="card-text">Sat: 12pm - 10:30pm</p>
                        <p class="card-text">Sun: 12pm - 10pm</p>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Phone</h5>
                        <p class="card-text">(703) 288-3901</p>
                    </div>
                </div>

            </div>
        </div>

        <div class="ending">
            <p>
                <a href="">Twitter</a> |
                <a href="">GitHub</a> |
                <a href="">LinkedIn</a> |
                <a href="">Email</a>
            </p>
            <h4>&copy; 2017-<script>document.write(new Date().getFullYear());</script> Designed by Ricky Deal</h4>
        </div>

    </div>
</div>

<!-- Optional JavaScript for Bootstrap -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script> -->