<head>

    <TITLE>{{ page.title }}</TITLE>

    <!-- Required meta tags for Bootstrap -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
    <link rel="manifest" href="images/favicon/site.webmanifest">

    <!-- Open Graph -->
    <meta property="og:type" content="restaurant.restaurant">
    <meta property="og:site_name" content="{{ site.title }}">
    {% if page.title %}
        <meta property="og:title" content="{{ page.title }}">
    {% else %}
        <meta property="og:title" content="{{ site.title }}">
    {% endif %}
    {% if page.url %}
        <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    {% endif %}
    <meta property="og:image" content="{{ site.url }}/images/main/esaan_color.jpeg">
    <meta property="og:description" content="{{ site.description }}">
    <meta property="restaurant:menu" content="{{ site.url }}/menu">
    <meta property="restaurant:contact_info:website" content="{{ site.url }}">
    <meta property="restaurant:contact_info:street_address" content="{{ site.street_address }}">
    <meta property="restaurant:contact_info:locality" content="{{ site.locality }}">
    <meta property="restaurant:contact_info:region" content="{{ site.region }}">
    <meta property="restaurant:contact_info:postal_code" content="{{ site.postal_code }}">
    <meta property="restaurant:contact_info:country_name" content="{{ site.country_name }}">
    <meta property="restaurant:contact_info:email" content="{{ site.email }}">
    <meta property="restaurant:contact_info:phone_number" content="{{ site.phone_number_1 }}">

    <!-- Twitter Cards -->
    <meta name="twitter:card" content="summary_large_image">
    {% if page.title %}
        <meta name="twitter:title" content="{{ page.title }}">
    {% else %}
        <meta name="twitter:title" content="{{ site.title }}">
    {% endif %}
    {% if page.url %}
        <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
    {% endif %}
    <meta name="twitter:description" content="{{ site.description }}">
    <meta name="twitter:image:src" content="{{ site.url }}/images/main/esaan_color.jpeg">

    <!-- Bootstrap & CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">

</head>