<div class="header">

    <div class="sticker-wrapper">
        <div class="sticker">
            <h1 class="title">ESAAN Tumbar</h1>
        </div>
    </div>

    <nav>
        <a href="{{ site.baseurl }}/">Esaan</a>
        <span class=​"dot">​//</span>​
        <a href="{{ site.baseurl }}/menu">Menu</a>
        <span class=​"dot">​//</span>​
        <a href="{{ site.baseurl }}/photos">Photos</a>
        <span class=​"dot">​//</span>​
        <a href="{{ site.baseurl }}/order">Order</a>
    </nav>

</div>