<div class="header">
    <a class="navbar-brand" href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/images/main/esaan-logo.png" width="300" height="125"></a>
    <nav>
        <a href="{{ site.baseurl }}/">Esaan</a>
        <span class=​"dot">​//</span>​
        <a href="{{ site.baseurl }}/menu">Menu</a>
        <span class=​"dot">​//</span>​
        <a href="{{ site.baseurl }}/drinks">Drinks</a>
        <span class=​"dot">​//</span>​
        <a href="{{ site.baseurl }}/order">Order</a>
    </nav>
</div>