---
layout: default
---

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1>ESAAN Tumbar</h1>
        <p>Gourmet • Northeastern Thai • Cuisine</p>
    </div>
</div>

<div class="content">

    <div class="sticker-wrapper">
        <div class="sticker">
            <h1 class="title">About</h1>
        </div>
    </div>


    <div class="container">

        <!-- <img class="pro" src="/images/main/essan-owner.jpg" height="400"> -->
        <figure>
            <img src="{{ site.baseurl }}/images/main/essan-owner.jpg">
            <figcaption>ESAAN Tumbar's co-owner and designer, Tu Yutthpon.</figcaption>
        </figure>

        {{ content }}

    </div>
</div>