---
layout: default
---

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1>ESAAN Tumbar</h1>
        <p>Authentic • Northeastern Thai • Cuisine</p>
    </div>
</div>

<div class="content">

    <div class="sticker-wrapper">
        <div class="sticker">
            <h1 class="title">About</h1>
        </div>
    </div>

    <div class="container">

        <!-- {% include soundcloud.html %} -->

        <figure>
            <img src="/images/main/esaan-owner.jpg" alt="ESAAN Tumbar's owner, Tu Yutthpon, standing in his restaurant.">
            <figcaption>ESAAN Tumbar's owner & director, Tu Yutthpon.</figcaption>
        </figure>

        {{ content }}

    </div> <!-- /container -->

</div> <!-- /content -->