---
layout: default
---

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1>ESAAN Tumbar</h1>
        <p>Gourmet • Northeastern Thai • Cuisine</p>
    </div>
</div>

<div class="content">

    <div class="sticker-wrapper">
        <div class="sticker">
            <h1 class="title">About</h1>
        </div>
    </div>


    <div class="container">

        <!-- <img class="pro" src="/images/main/essan-owner.jpg" height="400"> -->
        <figure class="figure">
            <img src="/images/main/essan-owner.jpg" class="figure-img img-fluid rounded float-left h-100">
            <figcaption class="figure-caption">Esaan Tumbar's owner, Tu Yutthpon</figcaption>
        </figure>

        {{ content }}

    </div>
</div>