---
layout: default
---
<div class="container">

    <div class="sticker-wrapper">
        <div class="sticker">
            <h1 class="title">Awards</h1>
        </div>
    </div>

    <!-- Featured Award/Review -->
    <div class="jumbotron jombotron-fluid">
        <div class="container">
            <style>
                /* Hero Image */
                .jumbotron {
                    background-image: url("images/main/esaan_color.jpeg");
                    height: 400px;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    margin-bottom: 0.5rem
                }
            </style>
            <h1 class="display-4">Voted #1 McLean</h1>
        </div>
    </div>

    <!-- Awards/Reviews -->
    <div class="card-columns">

        {% for item in site.data.testimonials %}

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ item.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ item.name }}</h6>
                    <p class="card-text">{{ item.name }}</p>
                </div>
            </div>

        {% endfor %}

    </div>

</div>