---
layout: default
---
<div class="container">

    <div class="sticker-wrapper">
        <div class="sticker">
            <h1 class="title">Awards</h1>
        </div>
    </div>

    <!-- Featured Award/Review -->
    <div class="jumbotron jombotron-fluid">
        <div class="container">
            <style>
                /* Hero Image */
                .jumbotron {
                    background-image: url("images/main/esaan_color.jpeg");
                    height: 400px;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    margin-bottom: 0.5rem
                }
            </style>
            <h1 class="display-4">Voted #1 McLean</h1>
        </div>
    </div>

    {{ content }}

    <div class="card-columns" id="order-online">
        {% for item in site.data.order_online %}
            <div class="col">
                <div class="card">
                    <img class="card-img-top" src="{{ item.image }}" alt="{{ item.alt-text }}">
                </div>
            </div>
        {% endfor %}
    </div>

</div>