---
layout: default
---
<div class="container">

    <div class="sticker-wrapper">
        <div class="sticker">
            <h1 class="title">Menu</h1>
        </div>
    </div>

    <!-- Featured -->
    <div class="jumbotron jombotron-fluid">
        <div class="container">
            <style>
                /* Hero Image */
                .jumbotron {
                    background-image: url("images/main/crispy_spicy_prawns.webp");
                    height: 400px;
                    background-position: 0% 50%;
                    background-repeat: no-repeat;
                    background-size: cover;
                    margin-bottom: 0.5rem
                }
            </style>
            <h1 class="display-4">Crispy Spicy Prawns</h1>
            <script src="https://www.fbgcdn.com/embedder/js/ewm2.js" defer async></script>
            <a class="btn btn-success btn-md blinking" data-glf-cuid="e80eba53-d6cd-499a-966d-e5fab212a558" data-glf-ruid="3bba37cd-89eb-4828-b982-bf1a848625d5">Order now</a>
        </div>
    </div>

    <!-- Menu Container -->
    <img src="images/main/esaan_menu_1.webp" class="img-fluid" alt="...">
    <img src="images/main/esaan_menu_2.webp" class="img-fluid" alt="...">


    <!-- {{ content }} -->

</div>