---
layout: default
---
<div class="container">

    <div class="sticker-wrapper">
        <div class="sticker">
            <h1 class="title">Press</h1>
        </div>
    </div>

    <!-- Featured Award -->
    <div class="jumbotron jombotron-fluid">
        <div class="container" id="awards-jumbotron-container">

            {% for item in site.data.testimonials limit:1 %}

                <style>
                    /* Hero Image for Blog Posts */
                    .jumbotron {
                        background-image: url("../images/main/esaan_color.jpeg");
                        height: 400px;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                        margin-bottom: 0.5rem
                    }
                </style>
                <h1 class="display-4">"{{ item.title }}"</h1>
                <p>{{ item.name }}</p>
                <a class="btn btn-success btn-md" href="{{ item.link }}" target="_blank" role="button">Read</a>

            {% endfor %}

        </div>
    </div>

    <!-- Awards/Reviews -->
    <div class="card-columns" id="card-columns-awards">

        {% for item in site.data.testimonials offset:1 %}

            <div class="card border-0">
                <div class="card-body" id="card-body-awards">
                    <h5 class="card-title">"{{ item.title }}"</h5>
                    <a class="card-text" href="{{ item.link }}" target="_blank">{{ item.name }}</a>
                </div>
            </div>

        {% endfor %}

    </div>

</div>